#sliderPosts {
	article {
		img {
			margin-bottom: 24px;
			height: 270px;
			width: 100%;
			object-fit: cover;
		}

		h3 {
			// color: white;
			font-family: var(--e-global-typography-primary-font-family);
			font-weight: var(--e-global-typography-primary-font-weight);
			font-size: 32px;
			line-height: var(--e-global-typography-primary-line-height);
			margin-top: 0px;
			margin-bottom: 16px;
		}

		p {
			// color: white;
			font-family: var(--e-global-typography-text-font-family);
			font-weight: var(--e-global-typography-text-font-weight);
			font-size: 16px;
			margin-bottom: 16px;
		}

		a.read-more {
			font-family: var(--e-global-typography-accent-font-family);
			font-weight: var(--e-global-typography-accent-font-weight);
			font-size: 20px;
			color: var(--e-global-color-secondary);
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 40px;
				height: 1px;
				background-color: var(--e-global-color-secondary);
				top: 50%;
				right: -52px;
				/* display: inline-block; */
				transform: translateY(-50%);
			}
		}
	}

	.no-post {
		font-family: var(--e-global-typography-accent-font-family);
		font-weight: var(--e-global-typography-accent-font-weight);
		font-size: 20px;
		text-align: center;
		margin: 0;
	}

	.slick-slide {
		margin: 0 10px;

		@media (max-width: 767px) {
			margin: 0;
		}
	}

	.slider-arrow {
		position: absolute;
		top: calc(270px - 32px - 10px);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		width: calc(100% - 32px);
		// max-width: calc(100% - 32px);
		margin-left: auto;
		margin-right: auto;

		@media (max-width: 1024px) {
			width: calc(100% - 10px);
		}

		// @media (max-width: 767px) {
		// 	width: calc(100% - 10px);
		// }
	}

	.slider-arrow img {
		width: 32px;
		cursor: pointer;

		// @media (max-width: 767px) {
		// 	width: 32px;
		// }
	}
}
